#devPic{
  position:absolute;
  left:850px;
  transform:rotate(-7deg);
  border: 5px solid white;
}
body{
  color:white;
  background-image: url('test3.jpeg');
  overflow-x: hidden;
}
.devInfo{
  height:230px;
  color: white;
  background-image: url('background1.jpg');
  padding-left: 10px;
  text-align: left;
  margin-bottom:40px;

}
#bio{
  position:relative;
  z-index: 10;
  display: inline-block;
  width:700px;

}
.info{
  position:relative;
  bottom: 10px;
  left:250px;
  color:skyblue;
  border-left: 3px solid white;
  padding-left:30px;

}
#Everything{
  position:relative;
  left:150px;
}
